
        <div class="about-me">
            <div>
                <p class="contacts">About Us</p>
            </div>
            <ul class="about-content">
                <li class="cont">Term of Service</li>
                <li class="cont">Terms and Condition</li>
                <li class="cont">Privacy and Policy</li>
                <li class="cont">Cookie Policy</li>
            </ul>

            <div>
                
            </div>

            <div class="about-container">
                <p class="disclaimer-before"> This is the prototype of the site for the WEB Programming under the mentor Mrs. Kiran Khatter</p>
                <p class="btn-title">Contact Us</p>
                <a href="https://www.facebook.com/BMLMunjalUniversity/" target="_blank" class="btn">
                    <i class="fab fa-facebook-f"><img src="/static/images/facebook.png" class="img1" alt=""></i> 
                </a>
                <a href="https://twitter.com/bmluniv?lang=en" target="_blank" class="btn">
                    <i class="fab fa-twitter"><img src="/static/images/tweetbird.png" class="img2" alt=""></i> 
                </a>
                <a href="https://www.instagram.com/bmlmunjaluniversity/" target="_blank" class="btn">
                    <i class="fab fa-instagram"><img src="/static/images/instagram.png" alt="" class="img3"></i> 
                </a>

                <p class="disclaimer">Copyright 1999-2022 by Ketan-Anushka-Mahaansh. All Rights Reserved.</p>
                <p class="disclaimer">Web Programming Powered by BML.Munjal.University</p>
            </div>
        </div>