    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
            <nav class="navbar" id="navbar">
            <a href="/"><img src="/static/images/logofinal1.png" class="brand-logo" alt="logo"></a>
            <ul class="nav-links">
                <li class="nav-items dropnavitems"> <a href="/main" class="dropcont">Home</a></li>
                <li class="nav-items dropnavitems"> <a href="/Travel" class="dropcont">Travel Resources</a></li>
                <li class="nav-items dropdown dropnavitems"> <a href="javascript:void(0)" class="dropbtn dropcont">Destination</a>
                    <div class="dropdown-content">
                        <a href="/India" class="dropcont">India</a>
                        <a href="/greece" class="dropcont">Greece</a>
                        <a href="/Korea" class="dropcont">Korea</a>
                        <a href="#" class="dropcont">Italy</a>
                        <a href="#" class="dropcont">France</a>
                        <a href="#" class="dropcont">Paris</a>
                        <a href="#" class="dropcont">China</a>
                    </div>
                </li>
            </ul>
            <div class="right-container"></div>
                <input type="text" class="search-box" id="search" onchange="openPage()" placeholder="Search">
            </div>
        </nav>
    </body>
    </html>

