<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" href="/static/css/budget.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jost&family=Prata&family=Raleway&family=Satisfy&family=Tiro+Devanagari+Hindi:ital@1&display=swap');
    </style>

</head>
<body>
    
    <div class="mainBG">

        <h1 class="welcome">Budget friendly places to visit</h1>
        <img src="/static/images/budbanner.jpg" class="banner" alt="Banner" >


        <div class="content">
            <p>There are plenty of cheap places to visit in India when you are low on budget and are looking for cheap stays and accommodation options. If you are a college student or want a quick budgeted getaway or are looking to scale several destinations with little money, there are several budget places to visit in India where you can have delicious meals and really affordable inns and lodgings. From hill stations to beaches, plains and bustling cities, there are a plethora of places you can head to. So we at Holidify, have got you all covered. Check out the amazing budgeted and cheap places to visit in India given below. Have a look!</p>
        </div>

        <div>
            <img src="/static/images/div.png" class="divider" alt="" srcset="">
        </div>

        <div class="korea-title">
            <H1>Budget Places</H1>
        </div>


        <div>
            <!-- <button class="prv-btns"><img src="pre.png" alt=""></button> -->
            <!-- <button class="nxt-btns"><img src="nxt.png" alt=""></button> -->
            <div class="card-container">
                <div class="card">
                    <h1 class="name">Kasol</h1>
                    <img src="/static/images/kasol.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹55,000
                        </p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Pondicherry</h1>
                    <img src="/static/images/pondicherry.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹45,000</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Goa</h1>
                    <img src="/static/images/goa.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹45,000</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Itanagar</h1>
                    <img src="/static/images/itanagar.jpg"
                    class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹55,000</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Pushkar</h1>
                    <img src="/static/images/pushkar.jpg"
                    class="card-img" alt="">
                    <div class="card-body"> 
                        <p class="des">Budget - ₹85,000</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
            </div>
            
        <div class="image-list">
            <!-- <button class="prv-btns"><img src="pre.png" alt=""></button> -->
            <!-- <button class="nxt-btns"><img src="nxt.png" alt=""></button> -->
            <div class="card-container">
                <div class="card">
                    <h1 class="name">Darjeeling</h1>
                    <img src="/static/images/darjeeling.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹75,000
                        </p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Varanasi</h1>
                    <img src="/static/images/Varansi.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹35,000</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Sikkim</h1>
                    <img src="/static/images/sikkim.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹32,000</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Kanyakumari</h1>
                    <img src="/static/images/Kanyakumari.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹59,000</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Munnar</h1>
                    <img src="/static/images/Munnar.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Budget - ₹29,000</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
            </div>

        <div class="expect">
            <h1 class="expect-title">
                What to expect ?
            </h1>
            <p class="expect-body">
                Language: The official language in Greece is Greek. <br>
                Currency: The currency in Greece is the Euro. <br>
                Read More: Tips for Traveling Greece on a Budget <br>
                Credit Cards and ATMs: You can ATMs all over Greece. Every major town and city will have a couple, and all the inhabited islands have at least one machine. You can use your credit card to pay for most purchases at shops and hotels, but you might come across a few bars that don’t have a working credit card machine. <br>
                Safety: While there have been periods of unrest in Greece, I still think it’s a safe destination for solo female travelers. If you’re planning to go sailing or do any adventurous activities in the country, I highly recommend taking our travel insurance, so you’re covered just in case something happens.
            </p>
            {{> navbar}}
        </div>
        {{> footer}}
    </div>
    
    <script src="/static/js/budget.js"></script>
</body>
</html>