<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greece</title>
    <link rel="stylesheet" href="/static/css/greece.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jost&family=Prata&family=Raleway&family=Satisfy&family=Tiro+Devanagari+Hindi:ital@1&display=swap');
    </style>

</head>
<body>

    <div class="mainBG">

        <h1 class="welcome">Greece</h1>
        <img src="/static/images/greece.jpeg" class="banner" alt="Banner">


        <div class="content">
            <p>Greece travel is romantic, intoxicating and relaxing. From the whitewashed buildings of Oia in Santorini to the mosaicked labyrinth of Chios — Greece has a surprise at every turn. Delicious food, great restaurants, white sand beaches, turquoise Mediterranean waters and sunsets that can make your jaw drop, Greece is a destination rivaled by few others for pure romance.</p>
        </div>

        <div>
            <img src="/static/images/div.png" class="divider" alt="" srcset="">
        </div>

        <div class="greece-title">
            <H1>Tourist Attractions</H1>
        </div>


        <div class="image-list">
            <!-- <button class="prv-btns"><img src="pre.png" alt=""></button> -->
            <!-- <button class="nxt-btns"><img src="nxt.png" alt=""></button> -->
            <div class="card-container">
                <div class="card">
                    <h1 class="name">ATHENS</h1>
                    <img src="/static/images/Athens.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Athens is the capital of Greece. It was also at the heart of Ancient Greece, a powerful civilization and empire. <br>  The Athens</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">MILOS</h1>
                    <img src="/static/images/Milos.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Milos or Melos is a volcanic Greek island in the Aegean Sea, just north of the Sea of Crete. Milos is the southwesternmost island in the Cyclades group.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">SANTORINI</h1>
                    <img src="/static/images/sento.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Santorini is one of the Cyclades islands in the Aegean Sea. It was devastated by a volcanic eruption in the 16th century BC, forever shaping its rugged landscape.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">MYKONOS</h1>
                    <img src="/static/images/mykonos.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Mykonos is an island in the Cyclades group in the Aegean Sea. It's popularly known for its summer party atmosphere. Beaches such as Paradise and Super Paradise.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">RHODES</h1>
                    <img src="/static/images/rhodes.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Rhodes, the largest of Greece’s Dodecanese islands, is known for its beach resorts, ancient ruins and remnants of its occupation by the Knights of St. John during the Crusades.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
            </div>

            <div class="maps">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3213812.232989678!2d22.238835104941757!3d38.128832465084436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135b4ac711716c63%3A0x363a1775dc9a2d1d!2sGreece!5e0!3m2!1sen!2sin!4v1663493764521!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

            
        
            <div class="expect">
                <h1 class="expect-title">
                    What to expect ?
                </h1>
                <p class="expect-body">
                    Language: The official language in Greece is Greek. <br>
                    Currency: The currency in Greece is the Euro. <br>
                    Read More: Tips for Traveling Greece on a Budget <br>
                    Credit Cards and ATMs: You can ATMs all over Greece. Every major town and city will have a couple, and all the inhabited islands have at least one machine. You can use your credit card to pay for most purchases at shops and hotels, but you might come across a few bars that don’t have a working credit card machine. <br>
                    Safety: While there have been periods of unrest in Greece, I still think it’s a safe destination for solo female travelers. If you’re planning to go sailing or do any adventurous activities in the country, I highly recommend taking our travel insurance, so you’re covered just in case something happens.
                </p>
                    {{> navbar}}
            </div>
        </div>
    </div>
    {{> footer}}
    <script src="/static/js/greece.js"></script>
</body>
</html>