<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDIA</title>
    <link rel="stylesheet" href="/static/css/India.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jost&family=Prata&family=Raleway&family=Satisfy&family=Tiro+Devanagari+Hindi:ital@1&display=swap');
    </style>

</head>
<body>
    <div class="mainBG">

        <h1 class="welcome">India</h1>
        <img src="/static/images/india.jpeg" class="banner" alt="Banner">


        <div class="content">
            <p>India is a remarkable tourist destination that offers a plethora of experiences to travellers. From the grandiose Taj Mahal, one of the wonders of the world, to opulent palaces and forts, India displays a variety of heritage riches that were crafted hundreds of years ago.</p>
        </div>

        <div>
            <img src="/static/images/div.png" class="divider" alt="" srcset="">
        </div>

        <div class="greece-title">
            <H1>Tourist Attractions</H1>
        </div>


        <div class="image-list">
            <!-- <button class="prv-btns"><img src="pre.png" alt=""></button> -->
            <!-- <button class="nxt-btns"><img src="nxt.png" alt=""></button> -->
            <div class="card-container">
                <div class="card">
                    <h1 class="name">Hyderabad</h1>
                    <img src="/static/images/hyd.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Hyderabad has an eclectic mix of architecture which makes it fascinating to navigate around.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Goa</h1>
                    <img src="/static/images/goa.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Goa is one of the most favorite destination among Indian tourists due to its pristine beaches.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Udaipur</h1>
                    <img src="/static/images/udaipur.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Udaipur is a tourist destination and is known for its history, culture, scenic locations and the Rajput-era palaces.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Coorg</h1>
                    <img src="/static/images/coorg.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Coorg is called the 'Scotland of India' and also 'Kashmir of the South' thanks to its majestic beauty and cool climate.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Gangtok</h1>
                    <img src="/static/images/gangtok.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Gangtok is a place that is brimming over with natural wonders of which the Kanchenjunga mountain is the most imposing.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
            </div>

    <div class="maps">           
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15420403.018201407!2d71.46438589657996!3d22.182882654583018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1663495573403!5m2!1sen!2sin" width="600" height="450" style="border:0;
        " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>

        
        <div class="expect">
            <h1 class="expect-title">
                What to expect ?
            </h1>
            <p class="expect-body">
                Language: The official language in Greece is Greek. <br>
                Currency: The currency in Greece is the Euro. <br>
                Read More: Tips for Traveling Greece on a Budget <br>
                Credit Cards and ATMs: You can ATMs all over Greece. Every major town and city will have a couple, and all the inhabited islands have at least one machine. You can use your credit card to pay for most purchases at shops and hotels, but you might come across a few bars that don’t have a working credit card machine. <br>
                Safety: While there have been periods of unrest in Greece, I still think it’s a safe destination for solo female travelers. If you’re planning to go sailing or do any adventurous activities in the country, I highly recommend taking our travel insurance, so you’re covered just in case something happens.
            </p>
                {{> navbar}}
        </div>
    </div>
    {{> footer}}
    <script src="/static/js/india.js"></script>
</body>
</html>