<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greece</title>
    <link rel="stylesheet" href="/static/css/korea.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jost&family=Prata&family=Raleway&family=Satisfy&family=Tiro+Devanagari+Hindi:ital@1&display=swap');
    </style>

</head>
<body>
    <div class="mainBG">

        <h1 class="welcome">South Korea</h1>
        <img src="/static/images/korea.jpeg" class="banner" alt="Banner">


        <div class="content">
            <p>South Korea, an East Asian nation on the southern half of the Korean Peninsula, shares one of the world’s
                most heavily militarized borders with North Korea. It’s equally known for its green, hilly countryside
                dotted with cherry trees and centuries-old Buddhist temples, plus its coastal fishing villages,
                sub-tropical islands and high-tech cities such as Seoul, the capital.</p>
        </div>

        <div>
            <img src="/static/images/div.png" class="divider" alt="" srcset="">
        </div>

        <div class="korea-title">
            <H1>Tourist Attractions</H1>
        </div>


        <div class="image-list">
            <!-- <button class="prv-btns"><img src="pre.png" alt=""></button> -->
            <!-- <button class="nxt-btns"><img src="nxt.png" alt=""></button> -->
            <div class="card-container">
                <div class="card">
                    <h1 class="name">Changdeokgung Palace</h1>
                    <img src="/static/images/Changdeokgung Palace.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Changdeokgung Palace was the second royal villa built following the construction
                            of Gyeongbokgung Palace. It was the principal palace for many kings of the Joseon dynasty.
                        </p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Busan</h1>
                    <img src="/static/images/Busan.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Busan is known for its beaches, hot springs, nature reserves, and events such as
                            the city's renowned international film festival held each fall.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Jeonju</h1>
                    <img src="/static/images/Jeonju.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Jeonju is a city in western South Korea. It’s known for the Jeonju Hanok Heritage
                            Village, an area of traditional houses, craft shops and food stalls.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Lotte World</h1>
                    <img src="/static/images/Lotte World.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Lotte World is a major recreation complex in Seoul, South Korea. It consists of
                            the world's largest indoor theme park, an outdoor amusement park called "Magic Island"</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
                <div class="card">
                    <h1 class="name">Bulguksa Temple</h1>
                    <img src="/static/images/Bulguksa Temple.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Bulguksa Temple is a representative relic of Buddhist culture from the Silla
                            kingdom. The temple was built to wish for peace and prosperity for all.</p>
                        <button class="watchlist-btn">Add Trip</button>
                    </div>
                </div>
            </div>

            <div class="maps">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1456670.1333564757!2d127.83246642947579!3d36.31252216799586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356455ebcb11ba9b%3A0x91249b00ba88db4b!2sSouth%20Korea!5e0!3m2!1sen!2sin!4v1663492823887!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

                        
        
        <div class="expect">
            <h1 class="expect-title">
                What to expect ?
            </h1>
            <p class="expect-body">
                Language: The official language in Greece is Greek. <br>
                Currency: The currency in Greece is the Euro. <br>
                Read More: Tips for Traveling Greece on a Budget <br>
                Credit Cards and ATMs: You can ATMs all over Greece. Every major town and city will have a couple, and all the inhabited islands have at least one machine. You can use your credit card to pay for most purchases at shops and hotels, but you might come across a few bars that don’t have a working credit card machine. <br>
                Safety: While there have been periods of unrest in Greece, I still think it’s a safe destination for solo female travelers. If you’re planning to go sailing or do any adventurous activities in the country, I highly recommend taking our travel insurance, so you’re covered just in case something happens.
            </p>
                {{> navbar}}
        </div>
    </div>
    </div>
    {{> footer}}

    <script src="/static/js/korea.js"></script>
</body>
</html>