<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greece</title>
    <link rel="stylesheet" href="/static/css/Travel.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Jost&family=Prata&family=Raleway&family=Satisfy&family=Tiro+Devanagari+Hindi:ital@1&display=swap');
    </style>

</head>
<body>
    <div class="mainBG">

        <h1 class="welcome">Travel Resources</h1>
        <img src="/static/images/travelbanner.jpeg" class="banner" alt="Banner">


        <div class="content">
            <p>Delighted to help you all plan the best trip possible with all the below mentioned  travel resources which can make your trip more feasbile. and budget saving.Delighted to help you all plan the best trip possible with all the below mentioned  travel resources which can make your trip more feasbile. and budget saving.Delighted to help you all plan the best trip possible with all the below mentioned  travel resources which can make your trip more feasbile. and budget saving.</p>
        </div>

        <div>
            <img src="/static/images/div.png" class="divider" alt="" srcset="">
        </div>

        <div class="greece-title">
            <H1>Airways</H1>
        </div>
<!-- 

        <div class="image-list"> -->
            <!-- <button class="prv-btns"><img src="pre.png" alt=""></button> -->
            <!-- <button class="nxt-btns"><img src="nxt.png" alt=""></button> -->
            <div class="card-container">
                <div class="card">
                    <!-- <h1 class="name">ATHENS</h1> -->
                    <img src="/static/images/airasia2.png" class="card-img" alt="">
                    <div class="card-body">
                        <!-- <p class="des">Athens is the capital of Greece. It was also at the heart of Ancient Greece, a powerful civilization and empire. <br>  The Athens</p> -->
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
                <div class="card">
                    <!-- <h1 class="name">MILOS</h1> -->
                    <img src="/static/images/air.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <!-- <p class="des">Milos or Melos is a volcanic Greek island in the Aegean Sea, just north of the Sea of Crete. Milos is the southwesternmost island in the Cyclades group.</p> -->
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
                <div class="card">
                    <!-- <h1 class="name">SANTORINI</h1> -->
                    <img src="/static/images/indigo2.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <!-- <p class="des">Santorini is one of the Cyclades islands in the Aegean Sea. It was devastated by a volcanic eruption in the 16th century BC, forever shaping its rugged landscape.</p> -->
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
                <div class="card">
                    <!-- <h1 class="name">MYKONOS</h1> -->
                    <img src="/static/images/bh.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <!-- <p class="des">Mykonos is an island in the Cyclades group in the Aegean Sea. It's popularly known for its summer party atmosphere. Beaches such as Paradise and Super Paradise.</p> -->
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
                <div class="card">
                    <!-- <h1 class="name">RHODES</h1> -->
                    <img src="/static/images/vistara.png" class="card-img" alt="">
                    <div class="card-body">
                        <!-- <p class="des">Rhodes, the largest of Greece’s Dodecanese islands, is known for its beach resorts, ancient ruins and remnants of its occupation by the Knights of St. John during the Crusades.</p> -->
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
            </div>

            
        <div>
            <img src="/static/images/div.png" class="divider" alt="" srcset="">
        </div>


        <div class="greece-title">
            <H1>Accomodation</H1>
        </div>


        <div class="image-list">
            <!-- <button class="prv-btns"><img src="pre.png" alt=""></button> -->
            <!-- <button class="nxt-btns"><img src="nxt.png" alt=""></button> -->
            <div class="card-container">
                <div class="card">
                    <!-- <h1 class="name">ATHENS</h1> -->
                    <img src="/static/images/hotel.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">HOTELS
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
                <div class="card">
                    <!-- <h1 class="name">MILOS</h1> -->
                    <img src="/static/images/food.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">RESTRAUNT</p>
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
                <div class="card">
                    <!-- <h1 class="name">SANTORINI</h1> -->
                    <img src="/static/images/streetfood.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">STREET FOOD</p>
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
                <div class="card">
                    <!-- <h1 class="name">MALLS</h1> -->
                    <img src="/static/images/mall.jpg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">MALLS</p>
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
                <div class="card">
                    <!-- <h1 class="name">Tourist Guide</h1> -->
                    <img src="/static/images/tourist.jpeg" class="card-img" alt="">
                    <div class="card-body">
                        <p class="des">Tourist Guide</p>
                        <!-- <button class="watchlist-btn">Add Trip</button> -->
                    </div>
                </div>
            </div>

            
            <div>
                <img src="/static/images/div.png" class="divider" alt="" srcset="">
            </div>
                {{> navbar}}
        </div>
    </div>
    {{> footer}}

    <script src="/static/js/Travel.js"></script>
</body>
</html>