*{
    padding: 0;
    margin: 0;
}

.mainBG{
    width: 99.5vw;
    height: 3400px;
    /* background-color: rgb(241, 216,255); */
    background-image: linear-gradient(to top right, rgb(185, 130,255),white, rgb(221, 209, 254));
}


body::-webkit-scrollbar {
    width: 10px;
    background: black;
}
 
body::-webkit-scrollbar-track {
    box-shadow: 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: transparent;
    padding: 0 4%;
    z-index: 9;
    display: flex;
    transition: background-color .5s ease-out;
    align-items: center;
}

.navbar-scroll {
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(to right, white black); */
    /* background-image: linear-gradient(to right, white black); */
    color: rgb(164, 72, 182);
}

.brand-logo{
    height: 150px;
    margin-top: -71px;
    filter: drop-shadow(19px, 19px, 14px);
}

.nav-links{
    margin-top: 1px;
    display: flex;
    list-style: none;
    margin-left: 10%;
}

.nav-items .dropcont {
    text-decoration: none;
    font-size: 22px;
    color: inherit; 
    font-family: 'Jost', sans-serif;
    opacity: 0.9;
    font-weight: bold;
}


.right-container{
    display: block;
    margin-left: 10%;
    color: white;
}

a{
    text-decoration: none;
}


.expect{
    text-align: center;
    width: 90%;
    margin-left: 90px;
}

.expect-body{
    font-size: 25px;
    font-family: Jost;
}

.expect-title{
    font-family:  'Italianno', cursive;
    font-size: 150px;
}


.search-box{
    border: none;
    border-bottom: 1px solid rgb(110, 110, 110);
    background-color: transparent;
    outline: none;
    height: 30px;
    color: rgb(131, 90, 3);
    width: 220px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s
}

.search-box:focus{
    width: 250px;
    font-weight: 700;
    color: rgb(212, 165, 145);
    border-color: rgb(154, 144, 124);
    
}

.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 300px;
    padding-right: 160px;
    /* background-color: #333; */
}

.dropnavitems {
    float: left;    
}

.dropnavitems .dropcont, .dropbtn {
    display: inline-block;
    /* color: white; */
    text-align: center;
    padding: 15px 30px;
    /* text-decoration: none; */
}

.dropnavitems .dropcont:hover, .dropdown:hover .dropbtn {
    background-color: rgb(203, 198, 254);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(203, 198, 254);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content .dropcont {
    color: black;
    font-size: 19px;
    padding: 12px 20px;
    padding-right: 84px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content .dropcont:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.cont{
    padding-bottom: 20px;
    list-style: none;
    text-decoration: none;
    color: white; 
}

.maps{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 80%;
    height: 700px;
    /* filter: invert(100%); */
}

.welcome{
    font-size: 200px;
    font-family:  'Italianno', cursive;
    font-weight: 200;
    position: absolute;
    z-index: 9;
    padding-top: 350px;
    padding-left: 9%;
}

.banner{
    /* padding-top: 80px; */
    opacity: 0.8;
    width: 100%;
    height: 940px;
}

.content{
    text-align: center;
    padding-left: 14%;
    padding-top: 80px;
    font-size: 25px;
    font-family: Jost;
    width: 70vw;
}

.korea-title{
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
    font-family: 'Italianno', cursive;
}


.card-container{
    width: 85%;
    padding-left: 20px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    /* scroll-behavior: smooth; */
}

/* .card-container::-webkit-scrollbar{
    display: none;
} */

.card{
    position: relative;
    /* min-width: 230px; */
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 15px;
    transition: 0.5s;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover{
    transform: scale(1.1);

}

.card:hover .card-body{
    opacity: 1;

}

.card-body{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4,8,15,0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.divider{
    padding-left: 160px;
    padding-top: 100px;
}
.name{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 200px;
    /* font-weight: bolder; */
    text-transform:capitalize;
    margin-top: 20%;
    margin: 20px;
    /* background-color: white; */
    padding: 5px;
    /* opacity: 80%; */
    border-radius: 8px;
    font-family: Jost;
}

.des{
    margin-top: 60%;
    color: white;
    opacity: 0.8;
    margin: 7px, 0;
    font-weight: 500;
    font-size: 19px;
}


.watchlist-btn
{
    position: relative;
    width: 95%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}

.watchlist-btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url(add.png);
    background-size: cover;
    transform: scale(0.4);
}

.watchlist-btn:hover
{
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}


.about-me{
    background-color: rgb(26, 25, 25);
    height: 415px;
    overflow-x: hidden;
    padding-top: 200px;
    /* text-align: center; */
}

.about-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin-top: 2960px;
    padding-top: 300px;
    /* padding-left: 600px; */
    /* overflow-x: hidden; */
    /* padding-left: 700px; */
}

.btn-title{
    color: white;
    text-transform: uppercase;
    padding-bottom: 8px;
    font-family: Jost;
}

.disclaimer{
    color: white;
    padding-top: 8px;
    font-family: Jost;
}

.disclaimer-before{
    color: white;
    padding-top: 8px;
    font-family: Jost;
    padding-bottom: 10px;
}

.about-container .btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 5px 15px -5px;
    margin: 10px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    color: #42d2ff;
}

.about-container .btn i {
    position: relative;
    z-index: 4;
    line-height: 90px;
    font-size: 26px;
    transition: 0.3s ease-in-out;
}

.about-container .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(rgb(241, 206, 159), antiquewhite);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.about-container .btn:hover i{
    color: #fff;
    transform: scale(1.3);
}

.about-container .btn:hover::before{
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
}

@keyframes onHover {
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}

.img1{
    width: 35px;
    margin-bottom: 10px;
    background-blend-mode:overlay;
}
.img2{
    width: 48px;
    margin-bottom: 8px;
}
.img3{
    width: 47px;
    margin-bottom: 4px;
}

.contacts{
    color: white;
    font-size: 60px;
    padding: 40px;
    padding-bottom: 10px;
    padding-left: 80px;
    font-family: Jost;
}

.about-content{
    color: white;
    padding-left: 80px;
    font-size: 20px;
    font-family: Jost;
}

.image-list{
    padding-bottom: 50px;
}


