*{
    padding: 0%;
    margin: 0%;
    ;
    /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
    width: 10px;
    background: black;
}
 
body::-webkit-scrollbar-track {
    box-shadow: 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid rgb(112, 144, 115);
}

.mainBG{
    width: 99.5vw;
    height: 3000px;
    background-color: bisque;
    overflow-x: hidden;
}


.navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    padding: 0 4%;
    background-color: transparent;
    z-index: 9;
    display: flex;
    transition: background-color .5s ease-out;
    align-items: center;
    color: black;
}

.navbar-scroll {
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(to right, white black); */
    /* background-image: linear-gradient(to right, white black); */
    color: rgb(182, 145, 72);
}

.brand-logo{
    height: 150px;
    margin-top: -70px;
    filter: drop-shadow(19px, 19px, 14px);
}

.nav-links{
    margin-top: 1px;
    display: flex;
    list-style: none;
    margin-left: 10%;
}

.nav-items .dropcont {
    text-decoration: none;
    font-size: 22px;
    /* text-align: center;
    margin-left: 130px;
    text-transform: capitalize;
    text-transform: uppercase;
    /* color: black; */
    color: inherit; 
    font-family: 'Jost', sans-serif;
    opacity: 0.9;
    font-weight: bold;
}

.cont{
    color: white;
    text-decoration: none;
}

.right-container{
    display: block;
    margin-left: 10%;
    color: white;
}

a{
    text-decoration: none;
}

.search-box{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 30px;
    color: black;
    width: 220px;
    border-color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.search-box:focus{
    width: 300px;
    font-weight: 700;
    color: black;
    border-color: black;
    
}

.about-me{
    background-color: rgb(26, 25, 25);
    height: 515px;
    overflow-x: hidden;
    margin-top: 5110px;
    /* text-align: center; */
}

.about-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* background-color: black; */
    max-width: 2000px;
    height: 300px;
    text-align: center;
    margin-top: 5000px;
    /* margin-bottom: -100px; */
    /* padding-left: 600px; */
    /* overflow-x: hidden; */
    /* padding-left: 700px; */
}

.btn-title{
    color: white;
    text-transform: uppercase;
    padding-bottom: 8px;
    font-family: Jost;
}

.disclaimer{
    color: white;
    padding-top: 8px;
    font-family: Jost;
}

.disclaimer-before{
    color: white;
    padding-top: 8px;
    font-family: Jost;
    padding-bottom: 10px;
}

.about-container .btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 5px 15px -5px;
    margin: 10px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    color: #42d2ff;
}
.about-container{
    width: 100%;
}

.about-container .btn i {
    position: relative;
    z-index: 4;
    line-height: 90px;
    font-size: 26px;
    transition: 0.3s ease-in-out;
}

.about-container .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(rgb(241, 206, 159), antiquewhite);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.about-container .btn:hover i{
    color: #fff;
    transform: scale(1.3);
}

.about-container .btn:hover::before{
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
}

@keyframes onHover {
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}

.img1{
    width: 35px;
    margin-bottom: 10px;
    background-blend-mode:overlay;
}
.img2{
    width: 48px;
    margin-bottom: 8px;
}
.img3{
    width: 47px;
    margin-bottom: 4px;
}

.contacts{
    color: white;
    font-size: 60px;
    padding: 40px;
    padding-bottom: 10px;
    padding-left: 80px;
    font-family: Jost;
}

.about-content{
    color: black;
    padding-left: 80px;
    width: 700px;
    font-size: 20px;
    font-family: Jost;
}

.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 300px;
    padding-right: 160px;
    /* background-color: #333; */
}

.dropnavitems {
    float: left;    
}

.dropnavitems .dropcont, .dropbtn {
    display: inline-block;
    /* color: white; */
    text-align: center;
    padding: 14px 28.5px;
    /* text-decoration: none; */
}

.dropnavitems .dropcont:hover, .dropdown:hover .dropbtn {
    background-color: antiquewhite;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content .dropcont {
    color: black;
    font-size: 19px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content .dropcont:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.cont{
    padding-bottom: 20px;
    list-style: none;
    text-decoration: none;
    color: white; 
}
